#web
fastapi~=0.115.12
uvicorn~=0.34.0
# crawler
requests~=2.32.3
beautifulsoup4~=4.13.3
# orm and database
tortoise~=0.1.1
aerich~=0.8.2
aiomysql~=0.2.0
# log
loguru~=0.7.3

pydantic~=2.11.2

redis~=5.2.1
python-redis~=0.4.0
APScheduler~=3.11.0
pytz~=2025.2
